@keyframes fadeInOut {
    0%,100%{ opacity: 0 }
    50%{ opacity: 1 }
  }
  @keyframes fadeIn {
    from{ opacity: 0 }
    to{ opacity: 1 }
  }

 
  .header{
      display:block;
      margin-top:100px;
      margin-right: auto;
      margin-left: auto;
      width: 725px;
      height: 265px;
  }

  .a{
      opacity:0;
      height: inherit;
      width:auto;
      position: fixed;
      margin-right: 0px;
      margin-left: 270px;
      animation: fadeIn 1s linear forwards;
      animation-delay: 3s;
  }
  .t{
    opacity:0;
    height: inherit;
    width:auto;
    position: fixed;
    margin-right: 0px;
    margin-left: 450px;
    animation: fadeIn 1s linear forwards;
    animation-delay: 3.5s;
  }
  .dot{
    opacity:0;
    height: inherit;
    width:auto;
    position: fixed;
    margin-right: 0px;
    margin-left: 670px;
    animation: fadeIn .5s linear forwards;
    animation-delay: 4s;
  }
 
  .m{
      position:fixed;
      margin-right: auto;
      margin-left: auto;
      width: auto;
      height: inherit;
  }

 .m1{
     opacity: 0;
     height: inherit;
     width:inherit;
     position:fixed;
     margin-top: 0px;
     margin-left: 0px;
     animation: fadeInOut 1s linear forwards;
     
 }
 .m2{
    opacity: 0;
    position: fixed;
    height: inherit;
    width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeInOut 1s linear forwards;
    animation-delay:.5s;
}
.m3{
    opacity: 0;
    position: fixed;
    height: inherit;
     width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeInOut 1s linear forwards;
    animation-delay:1s;
}
.m4{
    opacity: 0;
    position: fixed;
    height: inherit;
     width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeInOut 1s linear forwards;
    animation-delay:1.5s;
}
.m5{
    opacity: 0;
    position: fixed;
    height: inherit;
     width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeInOut 1s linear forwards;
    animation-delay:2s;
}
.m6{
    opacity: 0;
    position: fixed;
    height: inherit;
     width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeInOut 1s linear forwards;
    animation-delay:2.5s;
}
.finalm{
    opacity: 0;
    position: fixed;
    height: inherit;
    width:inherit;
    margin-top:0px;
    margin-left: 0px;
    animation: fadeIn 1s linear forwards;
    animation-delay:2.5s;
}
.subheader {
    display: block;
    width: 725px;
    margin-right:auto;
    margin-left: auto;
	font-size: 50px;
	letter-spacing: 2px;
	font-weight: 500;
    color: black;
    text-align: center;
	font-family: 'arial';
	margin-bottom: 10px;
	height: 50px;
	animation: fadeIn 1s linear forwards;
	animation-delay: 4.5s;
    opacity: 0;
    margin-top: 50px;
}
.txt-type{
    display: block;
    margin-right:auto;
    margin-left: auto;
}
.txt-type > .txt {
	border-right: 0.2rem solid rgb(0, 0, 0);
}
.links{
    margin-top:70px;
    width: 805px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:rgb(121, 121, 121);
}

a{
    color: rgb(121, 121, 121);
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    font-family: 'arial';
    letter-spacing: 1px;
}
a:hover{
    color:black;
}